<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <title>Angular App</title>
</head>
<body ng-controller="homeController as vm ">
    <div class="container">
    <h1>Input with ng-model</h1>
    <input type="text" id="input1" ng-model="message">
    <br>
    <p>{{message}}</p>
    <hr>
    <br>
    <h2>homeController</h2>
    <p>
        {{vm.message}}
    </p>
    <hr>
    <h2>ng-repeat array</h2>
    <ul>
        <li ng-repeat="friend in vm.friends">{{friend}}</li>
    </ul>
    <hr>
    <h2>ng-repeat array of  objects</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
        </tr>
        <tr ng-repeat="car in vm.cars">
            <td>{{car.year}}</td>
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
        </tr>
    </table>
    <hr>
    <h2>What is your favorite color?</h2>
    <button ng-click="vm.pickColor('red')" class="btn btn-danger">Red</button>
    <button ng-click="vm.pickColor('blue')" class="btn btn-primary">Blue</button>
    <button ng-click="vm.pickColor('green')" class="btn btn-success">Green</button>
    <h2>Your favorite color is...</h2>
    <output>{{vm.color}}</output>
    <h2>Add numbers</h2>
    <form class="form">

    <label for="in1">number 1:</label>
    <input id="in1" class="form-control" type="number" ng-model="vm.a">
    <label for="in2">number 2:</label>
    <input id="in2" class="form-control" type="number" ng-model="vm.b">

    <button type="button"class="btn btn-default" ng-click="vm.addNumbers(vm.a, vm.b)">add</button>
    <button type="button" class="btn btn-default"  ng-click="vm.subNumbers(vm.a, vm.b)">subtract</button>
    <button type="button" class="btn btn-default"  ng-click="vm.multNumbers(vm.a, vm.b)">multiply</button>
    <button type="button" class="btn btn-default"  ng-click="vm.divideNumbers(vm.a, vm.b)">divide</button>

    <pre>{{vm.answer}}</pre>

    </form>
</div>
<script src="bower_components/angular/angular.js" charset="utf-8"></script>
<script src="app.js" charset="utf-8"></script>

</body>
</html>
